
.desktopContent {
  margin: 0px;
  padding: 3px;
  border: 0px solid red;
  height: 100%;
  overflow: hidden;

  background: -moz-linear-gradient(333deg, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(97,97,97,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(333deg, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(333deg, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(333deg, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
  background: linear-gradient(117deg, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#000000',GradientType=1 ); /* ie6-9 */

  background-image: url('images/backgrounds/background-dark-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.scrim {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #403f3fb8;
  /*z-index: 10000;*/
  padding: 0px;
  margin: 0px;
  visibility: hidden;
}

.scrim_visible {
  visibility: visible !important;
}

.genericWindow {
  background-color: #4e4c4cb8;
  position: absolute;
  -webkit-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  border-radius: 3px;
  border: 1px solid #565555;;

  display: flex;
  flex-direction: column;
  padding: 1px;  
}

.dialogWindow {
  background-color: var(--main-window-content);
  position: absolute;
  -webkit-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  border-radius: 3px;
  border: 1px solid #807f7f;

  display: flex;
  flex-direction: column;

  padding: 0px;  
  padding-bottom: 5px;
}

.centered {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.desktopWidget {
  background-color: var(--main-widget-background);
  position: absolute;
  border-radius: 3px;
  border: 1px solid #565656;
  -webkit-box-shadow: inset 0px 0px 21px 8px rgba(0,0,0,0.16);
  -moz-box-shadow: inset 0px 0px 21px 8px rgba(0,0,0,0.16);
  box-shadow: inset 0px 0px 21px 8px rgba(0,0,0,0.16);
  display: flex;
  flex-direction: column;
  padding: 0px;
  color: #ffffff; 
}

.desktopPanel {
  background-color: var(--main-window-content);
  position: absolute;
  border-radius: 3px;
  border: 1px solid #656363;

  -webkit-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);  

  display: flex;
  flex-direction: column;
  padding: 0px;

  color: #ffffff;
}

.windowContent {
  color: var(--main-window-text);
  margin: 2px;
  padding: 2px;
  /*background: var(--main-window-content);*/
  /*border: 1px inset #717171;*/
  flex: 2;
  display: flex;  
  overflow: hidden;
  /*background: #605e5e;*/
}

.windowAppContent {
  color: var(--main-window-text);
  flex: 2;
  display: flex;
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 2px;  
  overflow: hidden;
}

.windowMain {
  width: 100%;
}

.dialogContent {
  color: var(--main-window-text);
  margin: 2px;
  flex: 2;
  display: flex;
  padding: 2px;
}

.desktopWidgetContent {
  color: var(--main-window-text);
  margin: 2px;
  padding: 2px;
}

.desktopPanelContent {
  color: var(--main-window-text);
  margin: 2px;
  padding: 2px;
}

.macribbon {
  margin-left: 2px;
  margin-right: 2px;
  margin: 1px;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  background: var(--main-window-title);
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  
  color: #989898;
  
  font-size: 8pt;

  display: flex;
  flex-direction: row;
}

.macribbon-narrow {
  margin-left: 2px;
  margin-right: 2px;
  margin: 1px;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  background: var(--main-window-title);
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  
  color: #989898;
  
  font-size: 8pt;

  display: flex;
  flex-direction: row;

  height: 16px;
}

.macribbonselected {
  margin-left: 2px;
  margin-right: 2px;
  margin: 1px;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  background: var(--main-window-title);
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  color: white;
  
  font-size: 8pt;

  display: flex;
  flex-direction: row;  
}

.titlebar {
  
}

.titlecontent {
  height: 14px;
  font-size: 8pt;
  text-align: left;
  line-height: 15px;
  flex: 1;
  flex-wrap: nowrap;
  overflow: hidden;
  color: lightgrey;
  cursor: grab;
  padding: 0px;
  margin: 0px;
}

.widgetribbon {
  margin: 2px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  color: #fff;
  font-size: 8pt;
  border-bottom: 1px solid #656464;
}

.statusbar {
  margin: 0px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;

  border: 1px inset #717171;
  color: #c5c5c5;
  
  line-height: 12pt;
  font-size: 8pt;

  /* To make space for the gripper */
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-bottomright: 25px;
  border-bottom-right-radius: 25px;

  height: 18px;
}

.resizable {
  resize: both;
  overflow:auto;
}

.gripper {
  position: absolute;
  /*
  width: 16px;
  height: 16px;
  */
  right: 0px;
  bottom: 0px;
  background: url("images/icons/resize.png") no-repeat fixed center;
  cursor: nwse-resize;  
}

.gripper img {
  width: 12px;
  height: 12px;
}

.dialogControls {
  margin: 2px;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  color: #fff;
  font-size: 8pt;
  text-align: center;
}

.standardCloseButton {
  flex: 0;
  padding: 0px;
  margin: 2px;
  height: 12px;  
  cursor: pointer;
}

.standardMaximizeButton {
  flex: 0;
  padding: 0px;
  margin: 2px;
  height: 12px;  
  cursor: pointer;
}

.standardCloseButton > svg:hover line {  
  stroke: var(--main-highlight);
  fill: var(--main-highlight);
}

.standardMaximizeButton > svg:hover line {
  stroke: var(--main-highlight);
  fill: var(--main-highlight);
}

.windowDebug {  
  margin: 2px;
  /*border: 1 px inset #717171;*/
  padding: 2px;
  overflow: hidden;
  /*background: #605e5e;*/
  width: 100%;
}

.windowDebug p {
  padding: 2px;
  margin: 1px;
  font-size: 8pt;
  font-weight: normal;
  line-height: 8pt;
  color: white; 
}

.toolwindowbutton {
  padding: 0px;
  margin: 0px;
  font-size: 8pt;
  font-family: Arial;
  font-weight: bold;
  color: white;
  line-height: 11pt;  
}

.toolwindowbutton:hover {
  color: var(--main-highlight);
}
